* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.pag1 {
    background-color: #3B2458;
    min-height: 75vh;
}

/* CABEÇALHO */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logoNovaCore {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
}

.logo_titulo {
    color: white;
    font-size: 22px;
}

.container_hrefs {
    display: flex;
    align-items: center;
    gap: 32px;
}

.hrefs {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.hrefs_fale {
    background-color: #A55AD7;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

/* CONTEUDO PAGINA 1 */

.container_conteudopag1{
    display: flex;
    align-items: center;
    gap: 28px 4px;
    justify-content: space-between;
    flex-direction: column;
}

.texto1 {
    font-size: 54px;
    color: white;
    justify-content: center;
    padding: 110px 220px 0px 220px ;
    text-align: center;
}

.subtexto1 {
    color: #F7F4FB;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    max-width: 700px;
}

.href_queroconhecer {
    color: white;
    font-size: 12px;
    background-color: #A55AD7;
    padding: 15px 26px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

/* PAGINA 2 */

.pag2 {
    background-color: #0B0A12;
}

.container_gridbox_pag2_rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.pag2_nossotrabalho {
    font-size: 13px;
    color: #A55AD7;
    padding-top: 100px;
    letter-spacing: 18%;
}

.pag2_titulo {
    padding: 22px 0px 22px 0px;
    font-size: 38px;
    color: #F7F4FB;
}

.pag2_subtitulo {
    color: #C8BDD4;
    text-align: center;
    padding-bottom: 22px;
}

.container_gridbox_pag2_conteudo {
    display: grid;
    grid-template-columns: 374px 374px 374px;
    gap: 26px;
    margin-top: 26px;
    justify-content: center;
    padding-bottom: 110px;
}

.pag2_boxes {
    background-color: #2E2540;
    border-radius: 18px;
}

.pag2_titulo_boxes {
    color: #F7F4FB;
    font-size: 17px;
    font-weight: 600px;
    padding: 52px 32px 14px;
}

.pag2_conteudo_boxes {
    color: #C8BDD4;
    font-size: 16px;
    font-weight: 400px;
    padding: 0px 32px 52px;
}

/* PAGINA 3 */

.pag3 {
    background-color: #14111C;
    min-height: 128vh;
}

.container_gridbox_pag3_rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pag3_novacore {
    font-size: 13px;
    color: #A55AD7;
    padding-top: 100px;
    letter-spacing: 18%;
}

.pag3_titulo {
    padding: 22px 0px 22px 0px;
    font-size: 38px;
    color: #F7F4FB;
}

.container_gridbox_pag3_conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin: 40px auto 0 auto;
    width: 100%;
    max-width: 1165px;
}

.pag3_sobrenos_conteudo {
    width: 50%;
}

.pag3_subtitulo_sobrenos {
    color: #C57AF1;
    width: 540px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
    line-height: 120%;
}

.pag3_texto_sobrenos {
    width: 540px;
    height: 96px;
    color: #C8BDD4;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
}

.pag3_imagem {
    width: 50%;
}

.pag3_imagem img {
    width: 570px;
    height: 320px;
    object-fit: cover;
    border-radius: 2%;
}

.pag3_nossa_gente {
    background-color: #211B2D;
    width: 100%; 
    max-width: 1165px;
    margin: 40px auto; 
    padding: 40px 30px 50px 30px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
}

.pag3_titulo_gente {
    color: #C57AF1;
    font-size: 22px;
    margin: 0 0 15px 0;
    font-weight: 600;
}

.pag3_texto_gente {
    color: #C8BDD4;
    font-size: 14px;
    margin: 0 0 35px 0;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.pag3_cards {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.pag3_card {
    width: 270px;
    border-radius: 18px;
    overflow: hidden;
}

.pag3_foto {
    height: 215px;
    width: 270px;
    background-color: #493263;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag3_circulo {
    width: 105px;
    height: 105px;
    top: 44px;
    left: 82px;
    border-radius: 50%;
    background-color: #C8BDD4;
    opacity: 38%;
}

.pag3_nome {
    background-color: #A55AD7;
    color: #F7F4FB;
    padding: 18px 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.pag3_nome span {
    font-size: 12px;
    color: #F7F4FB;
}